* {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 50px;
}
body form {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  color: #f3f3f3;
}
body label {
  font-size: 22px;
  color: white;
  font-family: "EB Garamond";
}
body label:hover {
  color: black;
  transition: 700ms;
  -webkit-transition: 700ms;
  -moz-transition: 700ms;
  -ms-transition: 700ms;
  -o-transition: 700ms;
  text-decoration: wavy;
}
body hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
body h2 {
  color: black;
  font-family: "Roboto";
}
body h2:hover {
  color: white;
  transition: 700ms;
  -webkit-transition: 700ms;
  -moz-transition: 700ms;
  -ms-transition: 700ms;
  -o-transition: 700ms;
}
body h1 {
  margin-bottom: 20px;
}
body .master-div-style {
  margin: auto;
  width: 900px;
  background-color: #00ccff46;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
  border: 2px solid black;
}