* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #a9d7e9;
}
body form {
  margin-left: 100px;
  margin-right: 100px;
  color: #f3f3f3;
}
body label {
  font-size: 22px;
  color: #4d4c4c;
  font-family: "Eb Garamond";
}
body label:hover {
  color: black;
  transition: 900ms;
  -webkit-transition: 900ms;
  -moz-transition: 900ms;
  -ms-transition: 900ms;
  -o-transition: 900ms;
}
body hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
body h2 {
  color: black;
  font-family: "Roboto";
}
body h2:hover {
  color: #4d4c4c;
  transition: 900ms;
  -webkit-transition: 900ms;
  -moz-transition: 900ms;
  -ms-transition: 900ms;
  -o-transition: 900ms;
  text-decoration: overline;
}
body .master-div-style {
  margin: auto;
  width: 900px;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
}