* {
    padding: 0;
    margin: 0;
}
body {
    margin-top: 50px;

    form {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 10px;
        color: #f3f3f3;
        
    }

    label {
        font-size: 22px;
        color: white;
        font-family: 'EB Garamond';
    }
    label:hover {
        color: rgb(0, 0, 0);
        transition: 700ms;
        -webkit-transition: 700ms;
        -moz-transition: 700ms;
        -ms-transition: 700ms;
        -o-transition: 700ms;
        text-decoration: wavy;
}

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h2 {
        color: rgb(0, 0, 0);
        font-family: 'Roboto';
    }
    h2:hover {
        color: rgb(255, 255, 255);
        transition: 700ms;
        -webkit-transition: 700ms;
        -moz-transition: 700ms;
        -ms-transition: 700ms;
        -o-transition: 700ms;
}

    h1 {
        margin-bottom: 20px;
    }
    .master-div-style {
        margin: auto;
        width: 900px;
        background-color: #00ccff46;
        border-radius: 10px;
        padding: 20px 10px 10px 10px;
        border: 2px solid black;
      }
}