html {
  height: 100%;
  background: linear-gradient(rgba(82, 255, 2, 0.336), rgba(179, 255, 2, 0.384), rgba(137, 255, 2, 0.37));
  background-size: 0.1rem 400%;
  animation: bg 6s infinite;
}
html body {
  height: 100%;
}
@keyframes bg {
  5% {
    background-position: 0 0;
  }
  55% {
    background-position: 0 225%;
  }
  100% {
    background-position: 0 425%;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 50px;
}
body form {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  color: #f3f3f3;
  text-align: center;
}
body label {
  font-size: 22px;
  color: white;
  font-family: "EB Garamond";
  text-align: center;
}
body label:hover {
  color: black;
  transition: 700ms;
  -webkit-transition: 700ms;
  -moz-transition: 700ms;
  -ms-transition: 700ms;
  -o-transition: 700ms;
  text-decoration: underline;
  text-decoration-color: white;
  -moz-text-decoration-color: #b6b3b3;
}
body hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
body h1 {
  text-align: center;
}
body h2 {
  color: black;
  font-family: "Roboto";
  text-align: center;
}
body h2:hover {
  color: white;
  transition: 700ms;
  -webkit-transition: 700ms;
  -moz-transition: 700ms;
  -ms-transition: 700ms;
  -o-transition: 700ms;
  text-decoration: underline;
  text-decoration-color: #2c2b2b;
  -moz-text-decoration-color: #b6b3b3;
}
body h1 {
  margin-bottom: 20px;
}
body .master-div-style {
  margin: auto;
  width: 900px;
  background-color: #00aeff54;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
  border: 2px solid black;
}